/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .pc-logo {
    display: none;
  }
  .notice-container {
    margin-top: 30px;
  }
  .notices-card {
    overflow-x: scroll;
  }
  .section-title h2 {
    font-size: 25px;
  }
   #message-vice .Vice-message a {
    height: auto;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .pc-logo {
    display: none;
  }
  .notice-container {
    margin-top: 30px;
  }
  .notices-card {
    overflow-x: scroll;
  }
  .section-title h2 {
    font-size: 26px;
  }
   #message-vice .Vice-message a {
    height: auto;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .pc-logo {
    display: none;
  }
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    color: #002147;
    white-space: nowrap;
    padding: 10px 0px 10px 10px;
    text-transform: uppercase;
    transition: 0.3s;
  }
  .notice-container {
    margin-top: 30px;
  }
  .notices-card {
    overflow-x: scroll;
  }
  #message-vice .Vice-message a {
    height: auto;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .moblie-logo {
    display: none;
  }
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    color: #002147;
    white-space: nowrap;
    padding: 10px 0px 10px 16px;
    text-transform: uppercase;
    transition: 0.3s;
  }
   #message-vice .Vice-message a {
    height: auto;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .moblie-logo {
    display: none;
  }
}
